<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edgile | Admin Home</title>
    <!-- CSS-->
    <link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/font.css">
    <link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/assets/css/form-elements.css">
    <link rel="stylesheet" href="/stylesheets/assets/css/style.css">
  </head>
  <body>
    <!-- Top content-->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <h1><strong>Admin</strong><a class="btn btn-info" href="/admin/logout" role="button">Logout!</a></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Student</h3><br>
                </div>
                <div class="form-group"><a class="btn btn-info" href="/students/new" role="button">Add Student</a></div>
                <div class="form-group"><a class="btn btn-info" href="/students/get_username_edit" role="button">Edit Student</a></div>
                <div class="form-group"><a class="btn btn-info" href="/students/get_username_delete" role="button">Delete Student</a></div>
                <div class="form-group"><a class="btn btn-info" href="/students/register_form" role="button">Register Student to a Course</a></div>
                <div class="form-group"><a class="btn btn-info" href="/students/deregister_form" role="button">Deregister Student from a Course</a></div>
              </div>
            </div>
            <div class="col-sm-4 form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Teacher</h3><br>
                </div>
                <div class="form-group"><a class="btn btn-info" href="/teachers/new" role="button">Add Teacher</a></div>
                <div class="form-group"><a class="btn btn-info" href="/teachers/get_username_edit" role="button">Edit Teacher</a></div>
                <div class="form-group"><a class="btn btn-info" href="/teachers/get_username_delete" role="button">Delete Teacher</a></div>
                <div class="form-group"><a class="btn btn-info" href="/teachers/assign_form" role="button">Assign Course to a Teacher</a></div>
                <div class="form-group"><a class="btn btn-info" href="/teachers/unassign_form" role="button">Unassign Course from a Teacher</a></div>
              </div>
            </div>
            <div class="col-sm-4 form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Course</h3><br>
                </div>
                <div class="form-group"><a class="btn btn-info" href="/courses/new" role="button">Add Course</a></div>
                <div class="form-group"><a class="btn btn-info" href="/courses/get_courseid_edit" role="button">Edit Course</a></div>
                <div class="form-group"><a class="btn btn-info" href="/courses/get_courseid_delete" role="button">Delete Course</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="/stylesheets/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/stylesheets/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/stylesheets/assets/js/jquery.backstretch.min.js"></script>
    <script src="/stylesheets/assets/js/scripts.js"></script>
  </body>
</html>