<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Return</title>
    <!-- CSS-->
    <link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/font.css">
    <link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/assets/css/form-elements.css">
    <link rel="stylesheet" href="/stylesheets/assets/css/style.css">
  </head>
  <body>
    <!-- Top content-->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <h1><strong>Go Back to HomePage</strong></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"><a class="btn btn-info" href="../students/home" role="button">Go Back!</a></div>
            <div class="col-sm-6 form-box"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="/stylesheets/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/stylesheets/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/stylesheets/assets/js/jquery.backstretch.min.js"></script>
    <script src="/stylesheets/assets/js/scripts.js"></script>
  </body>
</html>